div{
	width: 100px;
	height: 100px;
	background-color: pink;
}
@keyframes example1{
	from{background-color: yellow;}
	to{background-color: orange;}
}
.d1{
	animation-name: example1;
	animation-duration: 10s;
}
@keyframes example2{
	0%{background-color: yellow;}
	25%{background-color: lightyellow;}
	50%{background-color: lightcoral;}
	75%{background-color: orange;}
	100%{background-color: darkorange;}
}
.d2{
	animation-name: example2;
	animation-duration: 10s;
}
@keyframes example3{
	0%{background-color: orange; left: 0px; top: 0px}
	25%{background-color: yellow; left: 500px; top: 0px}
	50%{background-color: blue;left: 500px; top: 500px}
	75%{background-color: green;left: 0px; top: 500px}
	100%{background-color: black;left: 0px; top: 0px}
}
.d3{
	position: relative;
	animation-name: example3;
	animation-duration: 10s;
}